.main-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding-top: 72px;
}

.invoice-list-wrapper {
    width: 780px;
    height: fit-content;
    padding: 0 50px;
    // background: red;
}

.invoice-list-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 71px;
}

.no-of-invoices {
    p:first-of-type {
        font-size: 2rem;
        font-weight: 700;
        color: var(--black-deep);
    }
    p:last-of-type {
        font-size: 12px;
        color: var(--dark-grey);
    }
}

.right-side {
    display: flex;
    align-items: center;
    gap: 40px;
    position: relative;
}

.status-box {
    width: 192px;
    height: 128px;
    background: #ffffff;
    border-radius: 8px;
    position: absolute;
    top: 3.3rem;
    left: -2rem;;
    z-index: 4;
    display: flex;
    flex-direction: column;
    justify-content: Center;
    gap: 16px;
    padding: 24px;
    box-shadow: 0 10px 20px rgba(72, 84, 159, .25);
    display: none;
}

.hideStatusBox {
    display: flex;
}

.title-clickable {
    height: 20px;
    display: flex;
    gap: 16px;
    justify-content: space-between;
    align-items: center;
    font-size: .75rem;
    font-weight: 700;
    cursor: pointer;
    overflow-x: hidden;
}

.down-arrow-flip {
    transform: rotate(180deg);
}

//// Custom checkbox's 
.draft-box, .pending-box, .paid-box {
    display: flex;
    gap: 13px;
    font-weight: 700;
    font-size: .75rem;
    align-items: center;
    color: var(--deep-blue-deep);
}

#draft, #pending, #paid {
    appearance: none;
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    background: var(--grey);
    border: 1px solid var(--purple-deep);
    border-radius: 2px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
}

#draft::after, #pending::after, #paid::after {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f00c";
    color: #ffffff;
    display: none;
    font-size: 10px;
}

#draft:checked, #pending:checked, #paid:checked {
    background: var(--purple-deep);
}

#draft:checked::after, #pending:checked::after, #paid:checked::after {
    display: block;
}

// Invoice List Items
.invoice-list-items {
    width: 100%;
    height: 72px;
    border-radius: 8px;
    background: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 32px;
    box-shadow: 0 10px 10px rgba(72, 84, 159, .1);
    margin-bottom: 12px;
    font-size: .75rem;
    color: var(--black-deep);
    cursor: pointer;
    transition: .2s ease-in;
    border: 1px solid transparent;
}

.invoice-list-items:hover {
    border: 1px solid var(--purple-deep);
}

.item-details {
    width: 100%;
    display: flex;
    // flex-direction: column;
    justify-content: space-between;
    align-items: center;
    // background: blue;
}

.for-mobile-flexing {
    display: flex;
    align-items: center;
    margin-right: 20px;
    // background: yellow;
}

.id-and-date {
    width: 100%;
    display: flex;
    align-items: center;
    margin-right: 20px;
    // justify-content: space-between;
}

.item-id {
    width: 70px;
    font-weight: 800;
    margin-right: 20px;
}

.item-due-date {
    width: 85px;
    font-weight: 500;
    color: var(--dark-grey);
}

.amount-and-status {
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}

.item-amount {
    width: 100px;
    font-size: 1rem;
    font-weight: 800;
    margin-right: 20px;
    text-align: right;
}

.name {
    width: 110px;
    font-weight: 500;
    color: var(--dark-grey);
}

.item-status {
    width: 104px;
    height: 40px;
    border-radius: 6px;
    display: grid;
    place-items: center;
    margin-right: 20px;
    font-weight: 600;
}

//Paid status colours
.status-paid-color {
    color: var(--paid-deep);
}
.status-paid-bg {
    background: var(--paid-light);
}

//Pending status colours
.status-pending-color {
    color: var(--pending-deep);
}
.status-pending-bg {
    background: var(--pending-light);
}

//Draft status colours
.status-draft-color {
    color: var(--draft-deep);
}
.status-draft-bg {
    background: var(--draft-light);
}

// .right-arrow {
// }


/***************** Media Queries *******************/
@media screen and (max-width: 800px) {

    .invoice-list-wrapper {
        height: fit-content;
        padding: 0 50px;
        // background: red;
    }

    .for-mobile-flexing {
        margin-right: 20px;
    }

    .item-id {
        margin-right: 20px;
    }
}

@media screen and (max-width: 700px) {
    .invoice-list-wrapper {
        padding: 0 24px;
    }

    .invoice-list-items {
        height: 134px;
    }

    .name {
        text-align: right;
    }

    .for-mobile-flexing {
        flex-direction: column;
        gap: 24px;
        margin-left: 10px;
    }

    .id-and-date {
        justify-content: space-between;
    }

    .item-details {
        flex-direction: column;
    }

    .amount-and-status {
        justify-content: space-between;
    }

    .item-amount {
        text-align: left;
    }

    .right-arrow {
        display: none;
    }

    .item-status {
        margin-right: 0;
    }

}

@media screen and (max-width: 530px) {
    .invoice-list-menu {
        margin-bottom: 32px;
    }

    .new-invoice-btn {
        width: 90px;

        .svg-container {
            width: 32px;
            height: 32px;
            margin-right: 8px;
            padding-left: 10px;

            svg {
                width: 32px;

                path {
                    background: red;
                }
            }
        }
    }
    
    .right-side {
        gap: 24px;
    }

    .no-of-invoices p:first-of-type{
        font-size: 20px;
    }
}