.main-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding-top: 72px;
}

.invoice-details-wrapper {
    width: 780px;
    height: fit-content;
    padding: 0 50px;
    // border: 1px solid black;
}

.nav-back {
    width: fit-content;
    display: flex;
    gap: 23.66px;
    margin-bottom: 32px;
    cursor: pointer;
}

.go-back {
    font-size: 0.75rem;
    color: var(--purple-deep);
    font-weight: 700;
}

.status {
    display: flex;
    align-items: center;
    font-size: 0.75rem;
    font-weight: 700;

    p:first-of-type{
        margin-right: 16px;
        color: var(--item-details-text-color);
        font-weight: 500;
    }

    p:last-of-type {
        width: 104px;
        height: 40px;
        border-radius: 6px;
        // border: 1px solid lightgrey;
        // background: var(--pending-light);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        color: var(--pending-deep);
    }
}

.status {
    margin-right: 20px;
    font-weight: 600;
}

//Paid status colours
.status-paid-color {
    color: var(--paid-deep);
}
.status-paid-bg {
    background: var(--paid-light);
}

//Pending status colours
.status-pending-color {
    color: var(--pending-deep);
}
.status-pending-bg {
    background: var(--pending-light);
}

//Draft status colours
.status-draft-color {
    color: var(--draft-deep);
}
.status-draft-bg {
    background: var(--draft-light);
}

.controls {
    width: 100%;
    height: 88px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    border-radius: 8px;
    padding: 0 32px;
    margin-bottom: 24px;
}

.control-btns {
    display: flex;
    gap: 8px;
}


.details-container {
    width: 100%;
    height: fit-content;
    background: var(--white);
    border-radius: 8px;
    padding: 32px;
    margin-bottom: 32px;
}


.top-sec {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 11px;
    color: var(--item-details-text-color);
    margin-bottom: 21px;
    font-weight: 500;
}

.id-and-occupation {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.id {
    font-size: 16px;
    font-weight: 700;
    color: var(--black-deep);

    .id-span {
        font-size: 16px;
        color: var(--item-details-text-color);
        font-weight: 600;
    }
}

.senders-address {
    display: flex;
    flex-direction: column;
    line-height: 18px;
    text-align: right;
}


.middle-sec {
    width: 100%;
    display: flex;
    gap: 100px;
    margin-bottom: 45px;
}

.dates {
    display: flex;
    flex-direction: column;
    gap: 32px;
    font-size: 11px;
    font-weight: 500;
    color: var(--item-details-text-color);
}

.invoice-date {
    display: flex;
    flex-direction: column;
    gap: 12px;

    p:last-of-type {
        font-size: 15px;
        font-weight: 700;
        color: var(--black-deep);
    }
}

.payment-due {
    display: flex;
    flex-direction: column;
    gap: 12px;

    p:last-of-type {
        font-size: 15px;
        font-weight: 700;
        color: var(--black-deep);
    }
}

.client-bill {
    display: flex;
    flex-direction: column;
    font-size: 11px;
    color: var(--item-details-text-color);
}

.bill-to {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 8px;

    p:last-of-type {
        font-size: 15px;
        font-weight: 700;
        color: var(--black-deep);
    }
}

.client-address {
    display: flex;
    flex-direction: column;
    line-height: 18px;
}

.send-to {
    font-size: 11px;
    font-weight: 500;
    color: var(--item-details-text-color);
    display: flex;
    flex-direction: column;
    gap: 8px;

    p:last-of-type {
        font-size: 15px;
        font-weight: 700;
        color: var(--black-deep);
    }
}

.bottom-sec {
    width: 100%;
    font-size: 11px;
    font-weight: 500;
    color: var(--item-details-text-color);
}

.item-info {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;
    background: var(--item-info-box-color);
    border-radius: 8px 8px 0 0;
    padding: 32px;
}

.headers {
    display: flex;
    justify-content: space-between;
    font-weight: 500;

    div {
        display: flex;
        color: var(--item-details-text-color);
        font-weight: 500;

        p:nth-child(1) {
            width: 29px;
            text-align: center;
        }
        p:nth-child(2) {
            width: 65px;
            margin-left: 74px;
            text-align: right;
        }
        p:nth-child(3) {
            width: 65px;
            margin-left: 74px;
            text-align: right;
        }
    }
}

.item-description {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    color: var(--black-deep);

    div {
        display: flex;
        color: var(--item-details-text-color);
        font-weight: 500;

        p:nth-child(1) {
            width: 29px;
            text-align: center;
        }
        p:nth-child(2) {
            width: 65px;
            margin-left: 74px;
            text-align: right;
        }
        p:nth-child(3) {
            width: 65px;
            margin-left: 74px;
            text-align: right;
            font-weight: 700;
            color: var(--black-deep);
        }
    }
}

.amount-due {
    width: 100%;
    height: 80px;
    background: var(--amount-due-box-color);
    border-radius: 0 0 8px 8px;
    padding: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white);

    p:last-of-type {
        font-size: 24px;
        font-weight: 700;
    }
}